<%= form_for(@post) do |post_form| %>
  <% if !@post.valid? %>
    <div class = 'alert alert-error' style="background-color:red; text-align:left; font-size:22px; padding: 30px;">
      <%= @post.errors.full_messages.join('<br/>').html_safe %>
    </div>
  <% end %>

  <%= post_form.label :title %>
  <%= post_form.text_field :title %>

  <%= post_form.label :content %>
  <%= post_form.text_area :content %>

  <%= post_form.submit "save!" %>
<% end %>
